<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body bgcolor="#638299">
			<div style="background-color:white; padding: 20px 60px 60px 60px; height=100%;">
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="https://phasegenomics.github.io/images/horiz-dark-smaller.png" alt="Home"></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@phasegenomics.com">email</a></li>
	        		<li><a href="https://phasegenomics.com">web</a></li>
				<li><a href="https://github.com/phasegenomics">github</a></li>
				</ul>
			</footer>
			</div>
		</body>
	</html>
